#pixmap_path "/usr/share/..."

style "defaut"
{
    stock["case-J1"] =
    {
      { "pion_blanc.svg" }
    }

    stock["case-J2"] =
    {
      { "pion_noir.svg" }
    }

    stock["case-gardien"] =
    {
      { "gardien.png" }
    }
}

style "case"
{
}

style "case_grise" = "case"
{
    bg[NORMAL] = { 0.5, 0.5, 0.5 }
    bg[PRELIGHT] = { 0.5, 0.5, 0.5 }
    bg[INSENSITIVE] = { 0.5, 0.5, 0.5 }
}

widget "*" style "defaut"
widget "*case*" style "case"
widget "*case_grise*" style "case_grise"

